.container{
    height: 52vh;
    width: 83%;
    margin: 193px auto;
    padding: 28px;
}
h1{
    font-size: 1.8rem;
}
h2{
    font-size: 12px;
}
.pfp img{
width: 50%;
margin-bottom: 15px;
}
.dark{
    top: -1%;
}

.image{
    margin: 4px;
    height: 46px;
}
#icon1 i{
    font-size: 1.3rem;
    top: 3px;
    padding: 10px;

}
#icon2 i{
    font-size: 1.5rem;
    top: -2px;
    padding: 13px;
}
#icon3 i{
    font-size: 1.2rem;
    padding: 14px;
    top: -1px;
}
#icon4 i{
    font-size: 1.4rem;
    top: 0px;
    padding: 12px;
}
#icon6 i{
    font-size: 1.3rem;
    padding: 12px;
    top: 1px;
}