@import url('https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap');
*{
    box-sizing: border-box;
}
body{
    overflow: hidden;
    /* background: linear-gradient(180deg,var( --primarycolor), var(--secondarycolor)); */


}
:root{
    --primarycolor:hsla(0, 0%, 100%, 1) 0%;
    --secondarycolor: hsla(0, 0%, 73%, 1) 100%;
    --containercolor:white;
    --logobgcolor:rgb(219, 235, 255);
    --shadowcolor:rgb(177, 177, 177);

}
/* @media (prefers-color-scheme: dark){
    .darkmode{
        --primarycolor:rgb(29, 36, 43) 0%;
        --secondarycolor: rgb(0, 12, 27) 100%;
        --containercolor:rgb(32, 38, 48);
        --logobgcolor:rgb(68, 80, 88);
    
    }
    
} */
.darkmode{
    --primarycolor:rgb(29, 36, 43) 0%;
    --secondarycolor: rgb(0, 12, 27) 100%;
    --containercolor:rgb(32, 38, 48);
    --logobgcolor:rgb(68, 80, 88);
    --shadowcolor: rgb(24 24 24);

}
.container::before{
    content: '';
    background: linear-gradient(180deg,var( --primarycolor), var(--secondarycolor));
    background-size:cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: -1;
    transition-property:background;
    transition-duration: 0.5s;

}
.dark{
    display: block;
    width: 100%;
    position: relative;
    top: -50px;

}
.dark i{
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
}
.pfp img{

    width: 37%;
    border-radius: 150px;
    margin-bottom: 33px;
    display: block;
    margin:auto;

}
.image{
    border-radius: 50px;
    background-color: var(--logobgcolor);
    height: 64px;
    margin: 10px;
    box-shadow: 0px 3px 4px 1px var(--shadowcolor);
}
.image:hover{
    transform: translateY(-5px);
}

.image img{
    width: 27px;
    margin: 17px;
}
.transition{
    transition: all;
    will-change: all;
    transition-duration: 0.5s;
    
}

.fa-brands,.fa-solid{
    color: rgb(0 173 255);
}
.fa-brands:hover{
    color: white;
    
}
.fa-solid:hover{
    color: white;
    
}
.fa-moon:hover{
    color: rgb(0, 96, 141);
}

#icon1 i{
    font-size: 1.9rem;
    padding: 13px;
    position: relative;
    top: 4px;
}
#icon1:hover{
    background-color: #5865f2;

}
#icon2 i{
    font-size: 2.2rem;
    padding: 16px;
    position: relative;
    top: -2px;

}

#icon2:hover{
    background-color:  #c32aa3;
}
#icon3 i{

    font-size: 1.95rem;
    padding: 16px;
    position: relative;


}

#icon3:hover{
    background-color:  #fbbc05;
}

#icon4 i{
    font-size: 2.2rem;
    padding: 15px;
    position: relative;
    top: -1px;
    

}
#icon4:hover{
    background-color: #1ed760
}

#icon6 i{
    font-size: 1.9rem;
    padding: 15px;
    position: relative;
    top: 2px;
    right: -0.5px;
}
#icon6:hover{
    background-color: #ff0000
}
.container{
    width: 30%;
    height: 71vh;
    display: flex;
    margin: 150px auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:var(--containercolor);
    padding: 76px;
    border-radius: 20px;
    box-shadow:0 0 20px 1px var(--containercolor);;

}

.section{
    display: flex;
    margin:20px;
}
h1{
    display: inline-block; 
    font-family: 'Signika', sans-serif;
    font-size: 3rem;
    background-image: linear-gradient(45deg, rgb(0 173 255), rgb(0, 119, 255));
    -webkit-background-clip: text;
    color: transparent;
    margin: 15px 0px;
}
h2{
    display: inline-block; 
    font-family: 'Play', sans-serif;
    font-size: 20px;
    /* background-image: linear-gradient(45deg, rgb(213 122 122), white);
    -webkit-background-clip: text; */
    color: grey;
    margin-bottom:15px;
}